:root {
    --primary-color: #4CAF50; /* Primary color (green) */
    --secondary-color: #2E7D32; /* Secondary color (darker green) */
    --background-color: #f0f0f0; /* Light gray background */
    --text-color: #333; /* Dark text color */
    --button-color: #FF5722; /* Button color (orange) */
    --button-hover-color: #E64A19; /* Button hover color (darker orange) */
    --border-color: #ccc; /* Light gray border */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    height: 100vh;
    background-image: url('bg-music.jpg');
    background-size: cover;
}

.container {
    /* background-color:transparent; */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    width: 600px;
    margin: 50px auto; 
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--primary-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: var(--button-color);     
}

button:hover {
    background-color: var(--button-hover-color);
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#file-name {
    margin-top: 10px;
    font-style: italic;
    color: var(--secondary-color);
}

audio {
    display: block;
    margin: 20px auto;
    width: 80%;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid var(--primary-color); /* Blue */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    display: none;
    margin: 20px auto;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}